@config "./herbal.tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  scroll-margin-top: 80px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-current {
  background-color: currentColor;
}
.bg-info-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(224 242 254 / var(--tw-bg-opacity));
}
.slimscroll::-webkit-scrollbar {
  width: 6px;
}
.slimscroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
}
.mask {
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mask-blob {
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAwIDBDMjAgMCAwIDIwIDAgMTAwczIwIDEwMCAxMDAgMTAwIDEwMC0yMCAxMDAtMTAwUzE4MCAwIDEwMCAweiIvPjwvc3ZnPg==);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAwIDBDMjAgMCAwIDIwIDAgMTAwczIwIDEwMCAxMDAgMTAwIDEwMC0yMCAxMDAtMTAwUzE4MCAwIDEwMCAweiIvPjwvc3ZnPg==);
}
[x-cloak] {
  display: none !important;
}
.button-loading {
  color: transparent !important;
  position: relative;
}
.button-loading:after {
  height: 1.25rem;
  position: absolute;
  width: 1.25rem;
}
@-webkit-keyframes spin {
  to {
    content: var(--tw-content);
    transform: rotate(1turn);
  }
}
@keyframes spin {
  to {
    content: var(--tw-content);
    transform: rotate(1turn);
  }
}
.button-loading:after {
  --tw-border-opacity: 1;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-color: rgb(203 213 225 / var(--tw-border-opacity));
  border-radius: 9999px;
  border-top-color: rgb(243 244 246 / var(--tw-border-opacity));
  border-width: 0.2rem;
  content: var(--tw-content);
  opacity: 0.9;
}

.prose :where(blockquote):not(:where([class~="not-prose"] *)) {
  font-size: 1.1rem;
  @apply bg-primary-50/60 border-l-0 rounded drop-shadow-sm p-6 mt-4 leading-[1.4] text-slate-600 dark:bg-slate-800 dark:text-slate-100;
}

.not-prose {
  font-size: unset;
}

.code-container {
  @apply print:whitespace-break-spaces;
}

.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  @apply w-full rounded border-none px-0 break-all;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

#headlessui-portal-root{
  z-index: 10;
}
