@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-current {
  background-color: currentColor;
}
.bg-info-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(224 242 254 / var(--tw-bg-opacity));
}
.slimscroll::-webkit-scrollbar {
  width: 6px;
}
.slimscroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
}
.mask {
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mask-blob {
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAwIDBDMjAgMCAwIDIwIDAgMTAwczIwIDEwMCAxMDAgMTAwIDEwMC0yMCAxMDAtMTAwUzE4MCAwIDEwMCAweiIvPjwvc3ZnPg==);
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAwIDBDMjAgMCAwIDIwIDAgMTAwczIwIDEwMCAxMDAgMTAwIDEwMC0yMCAxMDAtMTAwUzE4MCAwIDEwMCAweiIvPjwvc3ZnPg==);
}
[x-cloak] {
  display: none !important;
}
.button-loading {
  color: transparent !important;
  position: relative;
}
.button-loading:after {
  height: 1.25rem;
  position: absolute;
  width: 1.25rem;
}
@-webkit-keyframes spin {
  to {
    content: var(--tw-content);
    transform: rotate(1turn);
  }
}
@keyframes spin {
  to {
    content: var(--tw-content);
    transform: rotate(1turn);
  }
}
.button-loading:after {
  --tw-border-opacity: 1;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-color: rgb(203 213 225 / var(--tw-border-opacity));
  border-radius: 9999px;
  border-top-color: rgb(243 244 246 / var(--tw-border-opacity));
  border-width: 0.2rem;
  content: var(--tw-content);
  opacity: 0.9;
}

.placeholder\:text-muted-300::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(203 213 225 / var(--tw-text-opacity));
}
.placeholder\:text-muted-300::placeholder {
  --tw-text-opacity: 1;
  color: rgb(203 213 225 / var(--tw-text-opacity));
}
.placeholder\:text-white\/50::-moz-placeholder {
  color: #ffffff80;
}
.placeholder\:text-white\/50::placeholder {
  color: #ffffff80;
}
.before\:text-xl:before {
  content: var(--tw-content);
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.before\:content-\[\'\$\'\]:before {
  --tw-content: "$";
  content: var(--tw-content);
}
.focus-within\:tw-accessibility-static:focus-within {
  outline-color: #cbd5e1;
  outline-offset: 2px;
  outline-style: dashed;
}
.dark .focus-within\:tw-accessibility-static:focus-within {
  outline-color: #475569;
}

.peer:checked ~ .peer-checked\:ml-\[45\%\] {
  margin-left: 45%;
}
.peer:checked ~ .peer-checked\:-translate-y-1\/2 {
  --tw-translate-y: -50%;
}
.peer:checked ~ .peer-checked\:-translate-y-1\/2,
.peer:checked ~ .peer-checked\:translate-x-full {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.peer:checked ~ .peer-checked\:translate-x-full {
  --tw-translate-x: 100%;
}
.peer:checked ~ .peer-checked\:translate-y-0 {
  --tw-translate-y: 0px;
}
.peer:checked ~ .peer-checked\:rotate-\[360deg\],
.peer:checked ~ .peer-checked\:translate-y-0 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.peer:checked ~ .peer-checked\:rotate-\[360deg\] {
  --tw-rotate: 360deg;
}
.peer:checked ~ .peer-checked\:border-primary-500 {
  --tw-border-opacity: 1;
  border-color: rgb(139 92 246 / var(--tw-border-opacity));
}
.peer:checked ~ .peer-checked\:bg-primary-500\/10 {
  background-color: #8b5cf61a;
}
.peer:checked ~ .peer-checked\:bg-violet-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(167 139 250 / var(--tw-bg-opacity));
}
.peer:checked ~ .peer-checked\:text-primary-500 {
  --tw-text-opacity: 1;
  color: rgb(139 92 246 / var(--tw-text-opacity));
}
.peer:checked ~ .peer-checked\:opacity-100 {
  opacity: 1;
}
.peer:checked ~ .peer-checked\:shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.peer:checked ~ .peer-checked\:shadow-muted-400\/10 {
  --tw-shadow-color: rgba(148, 163, 184, 0.1);
  --tw-shadow: var(--tw-shadow-colored);
}
.peer:focus ~ .peer-focus\:outline-dashed {
  outline-style: dashed;
}
.peer:focus ~ .peer-focus\:outline-offset-2 {
  outline-offset: 2px;
}
.peer:focus ~ .peer-focus\:outline-gray-300 {
  outline-color: #d1d5db;
}
.peer:focus ~ .peer-focus\:ring-0 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--tw-ring-offset-width))
    var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
.dark .dark\:placeholder\:text-muted-500::placeholder {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}
.dark .dark\:placeholder\:text-muted-700::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}
.dark .dark\:placeholder\:text-muted-700::placeholder {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}
.dark .dark\:hover\:border-primary-500:hover {
  --tw-border-opacity: 1;
  border-color: rgb(139 92 246 / var(--tw-border-opacity));
}
.dark .dark\:hover\:bg-muted-1000:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(10 16 31 / var(--tw-bg-opacity));
}
.dark .dark\:hover\:bg-muted-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}
.dark .dark\:hover\:bg-muted-800:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}
.dark .dark\:hover\:bg-muted-900:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}
.dark .dark\:hover\:text-muted-100:hover {
  --tw-text-opacity: 1;
  color: rgb(241 245 249 / var(--tw-text-opacity));
}
.dark .dark\:hover\:text-muted-200:hover {
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / var(--tw-text-opacity));
}
.dark .dark\:hover\:text-muted-300:hover {
  --tw-text-opacity: 1;
  color: rgb(203 213 225 / var(--tw-text-opacity));
}
.dark .dark\:hover\:text-muted-400:hover {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}
.dark .dark\:hover\:text-primary-400:hover {
  --tw-text-opacity: 1;
  color: rgb(167 139 250 / var(--tw-text-opacity));
}
.dark .dark\:hover\:text-primary-500:hover {
  --tw-text-opacity: 1;
  color: rgb(139 92 246 / var(--tw-text-opacity));
}
.dark .dark\:hover\:text-yellow-400:hover {
  --tw-text-opacity: 1;
  color: rgb(250 204 21 / var(--tw-text-opacity));
}
.dark .dark\:hover\:shadow-muted-800\/10:hover,
.dark .hover\:dark\:shadow-muted-800\/10:hover {
  --tw-shadow-color: rgba(30, 41, 59, 0.1);
  --tw-shadow: var(--tw-shadow-colored);
}
.dark .dark\:focus\:border-muted-700:focus {
  --tw-border-opacity: 1;
  border-color: rgb(51 65 85 / var(--tw-border-opacity));
}
.dark .dark\:focus\:border-muted-800:focus {
  --tw-border-opacity: 1;
  border-color: rgb(30 41 59 / var(--tw-border-opacity));
}
.dark .dark\:focus\:border-primary-500:focus {
  --tw-border-opacity: 1;
  border-color: rgb(139 92 246 / var(--tw-border-opacity));
}
.dark .dark\:focus\:bg-muted-900:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}
.dark .dark\:focus\:shadow-gray-800\/50:focus {
  --tw-shadow-color: rgba(31, 41, 55, 0.5);
  --tw-shadow: var(--tw-shadow-colored);
}
.dark .dark\:focus\:shadow-muted-800\/10:focus {
  --tw-shadow-color: rgba(30, 41, 59, 0.1);
  --tw-shadow: var(--tw-shadow-colored);
}
.dark .group:hover .dark\:group-hover\:bg-muted-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}
.dark .group:hover .dark\:group-hover\:bg-primary-500\/20 {
  background-color: #8b5cf633;
}
.dark .group:hover .dark\:group-hover\:text-muted-200 {
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / var(--tw-text-opacity));
}
.dark .group:hover .dark\:group-hover\:text-muted-300 {
  --tw-text-opacity: 1;
  color: rgb(203 213 225 / var(--tw-text-opacity));
}
.dark .peer:checked ~ .dark\:peer-checked\:shadow-muted-800\/10 {
  --tw-shadow-color: rgba(30, 41, 59, 0.1);
  --tw-shadow: var(--tw-shadow-colored);
}
.dark .peer:focus ~ .dark\:peer-focus\:outline-gray-600 {
  outline-color: #4b5563;
}

.prose {
  color: #475569;
  max-width: 65ch;
}

.prose :where(p):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}

.prose :where([class~="lead"]):not(:where([class~="not-prose"] *)) {
  color: #94a3b8;
  font-size: 1.25em;
  line-height: 1.6;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
}

.prose :where(a):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-links);
  font-weight: 500;
  text-decoration: underline;
}

.prose :where(strong):not(:where([class~="not-prose"] *)) {
  color: #1e293b;
  font-weight: 600;
}

.prose :where(a strong):not(:where([class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(blockquote strong):not(:where([class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(thead th strong):not(:where([class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(ol):not(:where([class~="not-prose"] *)) {
  list-style-type: decimal;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
  padding-left: 1.625em;
}

.prose :where(ol[type="A"]):not(:where([class~="not-prose"] *)) {
  list-style-type: upper-alpha;
}

.prose :where(ol[type="a"]):not(:where([class~="not-prose"] *)) {
  list-style-type: lower-alpha;
}

.prose :where(ol[type="As"]):not(:where([class~="not-prose"] *)) {
  list-style-type: upper-alpha;
}

.prose :where(ol[type="as"]):not(:where([class~="not-prose"] *)) {
  list-style-type: lower-alpha;
}

.prose :where(ol[type="I"]):not(:where([class~="not-prose"] *)) {
  list-style-type: upper-roman;
}

.prose :where(ol[type="i"]):not(:where([class~="not-prose"] *)) {
  list-style-type: lower-roman;
}

.prose :where(ol[type="Is"]):not(:where([class~="not-prose"] *)) {
  list-style-type: upper-roman;
}

.prose :where(ol[type="is"]):not(:where([class~="not-prose"] *)) {
  list-style-type: lower-roman;
}

.prose :where(ol[type="1"]):not(:where([class~="not-prose"] *)) {
  list-style-type: decimal;
}

.prose :where(ul):not(:where([class~="not-prose"] *)) {
  list-style-type: disc;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
  padding-left: 1.625em;
}

.prose :where(ol > li):not(:where([class~="not-prose"] *))::marker {
  color: var(--tw-prose-counters);
  font-weight: 400;
}

.prose :where(ul > li):not(:where([class~="not-prose"] *))::marker {
  color: var(--tw-prose-bullets);
}

.prose :where(hr):not(:where([class~="not-prose"] *)) {
  border-color: #e2e8f0;
  border-top-width: 1px;
  margin-bottom: 3em;
  margin-top: 3em;
}

.prose :where(blockquote):not(:where([class~="not-prose"] *)) {
  background: #f1f5f9;
  border-left-color: #6366f1;
  border-left-width: 0.25rem;
  color: #64748b;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 1.6em;
  margin-top: 1.6em;
  padding: 1.75rem;
  quotes: "\201c""\201d""\2018""\2019";
}

.prose
  :where(blockquote p:first-of-type):not(
    :where([class~="not-prose"] *)
  ):before {
  content: open-quote;
}

.prose
  :where(blockquote p:last-of-type):not(:where([class~="not-prose"] *)):after {
  content: close-quote;
}

.prose :where(h1):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-size: 2.25em;
  font-weight: 800;
  line-height: 1.1111111;
  margin-bottom: 0.8888889em;
  margin-top: 0;
}

.prose :where(h1 strong):not(:where([class~="not-prose"] *)) {
  color: inherit;
  font-weight: 900;
}

.prose :where(h2):not(:where([class~="not-prose"] *)) {
  color: #1e293b;
  font-family: Inter;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.3333333;
  margin-bottom: 1em;
  margin-top: 2em;
}

.prose :where(h2 strong):not(:where([class~="not-prose"] *)) {
  color: inherit;
  font-weight: 800;
}

.prose :where(h3):not(:where([class~="not-prose"] *)) {
  color: #1e293b;
  font-family: Inter;
  font-family: sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 0.6em;
  margin-top: 1.6em;
}

.prose :where(h3 strong):not(:where([class~="not-prose"] *)) {
  color: inherit;
  font-weight: 700;
}

.prose :where(h4):not(:where([class~="not-prose"] *)) {
  color: #1e293b;
  font-family: Inter;
  font-family: sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

.prose :where(h4 strong):not(:where([class~="not-prose"] *)) {
  color: inherit;
  font-weight: 700;
}

.prose :where(img):not(:where([class~="not-prose"] *)) {
  margin-bottom: 2em;
  margin-top: 2em;
}

.prose :where(figure > *):not(:where([class~="not-prose"] *)) {
  margin-bottom: 0;
  margin-top: 0;
}

.prose :where(figcaption):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-captions);
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  background: #e0e7ff;
  color: #6366f1;
  font-family: ui-monospace;
  font-family: SFMono-Regular;
  font-family: Menlo;
  font-family: Monaco;
  font-family: Consolas;
  font-family: Liberation Mono;
  font-family: Courier New;
  font-family: monospace;
  font-size: 0.95rem !important;
  font-weight: 600;
  padding: 0.35rem;
}

.prose :where(code):not(:where([class~="not-prose"] *)):before {
  content: "`";
}

.prose :where(code):not(:where([class~="not-prose"] *)):after {
  content: "`";
}

.prose :where(a code):not(:where([class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(h1 code):not(:where([class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(h2 code):not(:where([class~="not-prose"] *)) {
  color: inherit;
  font-size: 0.875em;
}

.prose :where(h3 code):not(:where([class~="not-prose"] *)) {
  color: inherit;
  font-size: 0.9em;
}

.prose :where(h4 code):not(:where([class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(blockquote code):not(:where([class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(thead th code):not(:where([class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
  background-color: var(--tw-prose-pre-bg);
  border-radius: 0.375rem;
  color: var(--tw-prose-pre-code);
  font-family: ui-monospace;
  font-family: SFMono-Regular;
  font-family: Menlo;
  font-family: Monaco;
  font-family: Consolas;
  font-family: Liberation Mono;
  font-family: Courier New;
  font-family: monospace;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.7142857;
  margin-bottom: 1.7142857em;
  margin-top: 1.7142857em;
  overflow-x: auto;
  padding: 0.8571429em 1.1428571em;
}

.prose :where(pre code):not(:where([class~="not-prose"] *)) {
  background-color: transparent;
  border-radius: 0;
  border-width: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}

.prose :where(pre code):not(:where([class~="not-prose"] *)):before {
  content: none;
}

.prose :where(pre code):not(:where([class~="not-prose"] *)):after {
  content: none;
}

.prose :where(table):not(:where([class~="not-prose"] *)) {
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-bottom: 2em;
  margin-top: 2em;
  table-layout: auto;
  text-align: left;
  width: 100%;
}

.prose :where(thead):not(:where([class~="not-prose"] *)) {
  border-bottom-color: var(--tw-prose-th-borders);
  border-bottom-width: 1px;
}

.prose :where(thead th):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
  padding-right: 0.5714286em;
  vertical-align: bottom;
}

.prose :where(tbody tr):not(:where([class~="not-prose"] *)) {
  border-bottom-color: var(--tw-prose-td-borders);
  border-bottom-width: 1px;
}

.prose :where(tbody tr:last-child):not(:where([class~="not-prose"] *)) {
  border-bottom-width: 0;
}

.prose :where(tbody td):not(:where([class~="not-prose"] *)) {
  vertical-align: baseline;
}

.prose :where(tfoot):not(:where([class~="not-prose"] *)) {
  border-top-color: var(--tw-prose-th-borders);
  border-top-width: 1px;
}

.prose :where(tfoot td):not(:where([class~="not-prose"] *)) {
  vertical-align: top;
}

.prose {
  --tw-prose-body: #374151;
  --tw-prose-headings: #111827;
  --tw-prose-lead: #4b5563;
  --tw-prose-links: #111827;
  --tw-prose-bold: #111827;
  --tw-prose-counters: #6b7280;
  --tw-prose-bullets: #d1d5db;
  --tw-prose-hr: #e5e7eb;
  --tw-prose-quotes: #111827;
  --tw-prose-quote-borders: #e5e7eb;
  --tw-prose-captions: #6b7280;
  --tw-prose-code: #111827;
  --tw-prose-pre-code: #e5e7eb;
  --tw-prose-pre-bg: #1f2937;
  --tw-prose-th-borders: #d1d5db;
  --tw-prose-td-borders: #e5e7eb;
  --tw-prose-invert-body: #d1d5db;
  --tw-prose-invert-headings: #fff;
  --tw-prose-invert-lead: #9ca3af;
  --tw-prose-invert-links: #fff;
  --tw-prose-invert-bold: #fff;
  --tw-prose-invert-counters: #9ca3af;
  --tw-prose-invert-bullets: #4b5563;
  --tw-prose-invert-hr: #374151;
  --tw-prose-invert-quotes: #f3f4f6;
  --tw-prose-invert-quote-borders: #374151;
  --tw-prose-invert-captions: #9ca3af;
  --tw-prose-invert-code: #fff;
  --tw-prose-invert-pre-code: #d1d5db;
  --tw-prose-invert-pre-bg: rgba(0, 0, 0, 0.5);
  --tw-prose-invert-th-borders: #4b5563;
  --tw-prose-invert-td-borders: #374151;
  font-size: 1rem;
  line-height: 1.75;
}

.prose :where(video):not(:where([class~="not-prose"] *)) {
  margin-bottom: 2em;
  margin-top: 2em;
}

.prose :where(figure):not(:where([class~="not-prose"] *)) {
  margin-bottom: 2em;
  margin-top: 2em;
}

.prose :where(li):not(:where([class~="not-prose"] *)) {
  color: #475569;
  font-size: 1.15rem;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding: 0.35rem 0;
}

.prose :where(ol > li):not(:where([class~="not-prose"] *)) {
  padding-left: 0.375em;
}

.prose :where(ul > li):not(:where([class~="not-prose"] *)) {
  padding-left: 0.375em;
}

.prose :where(.prose > ul > li p):not(:where([class~="not-prose"] *)) {
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}

.prose
  :where(.prose > ul > li > :first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 1.25em;
}

.prose
  :where(.prose > ul > li > :last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1.25em;
}

.prose
  :where(.prose > ol > li > :first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 1.25em;
}

.prose
  :where(.prose > ol > li > :last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1.25em;
}

.prose :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"] *)) {
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}

.prose :where(hr + *):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(h2 + *):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(h3 + *):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(h4 + *):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(thead th:first-child):not(:where([class~="not-prose"] *)) {
  padding-left: 0;
}

.prose :where(thead th:last-child):not(:where([class~="not-prose"] *)) {
  padding-right: 0;
}

.prose :where(tbody td, tfoot td):not(:where([class~="not-prose"] *)) {
  padding: 0.5714286em;
}

.prose
  :where(tbody td:first-child, tfoot td:first-child):not(
    :where([class~="not-prose"] *)
  ) {
  padding-left: 0;
}

.prose
  :where(tbody td:last-child, tfoot td:last-child):not(
    :where([class~="not-prose"] *)
  ) {
  padding-right: 0;
}

.prose :where(.prose > :first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(.prose > :last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 0;
}

.prose :where(em):not(:where([class~="not-prose"] *)) {
  color: #64748b;
  font-size: 1.1rem;
  line-height: 1;
}

@media (min-width: 1025px) {
  .lg\:prose-xl {
    font-size: 1.05rem;
    line-height: 1.8;
  }

  .lg\:prose-xl :where(p):not(:where([class~="not-prose"] *)) {
    margin-bottom: 1.2em;
    margin-top: 1.2em;
  }

  .lg\:prose-xl :where([class~="lead"]):not(:where([class~="not-prose"] *)) {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .lg\:prose-xl :where(blockquote):not(:where([class~="not-prose"] *)) {
    margin-bottom: 1.6em;
    margin-top: 1.6em;
    padding-left: 1.0666667em;
  }

  .lg\:prose-xl :where(h1):not(:where([class~="not-prose"] *)) {
    font-size: 2.8em;
    line-height: 1;
    margin-bottom: 0.8571429em;
    margin-top: 0;
  }

  .lg\:prose-xl :where(h2):not(:where([class~="not-prose"] *)) {
    font-size: 1.8em;
    line-height: 1.1111111;
    margin-bottom: 0.8888889em;
    margin-top: 1.5555556em;
  }

  .lg\:prose-xl :where(h3):not(:where([class~="not-prose"] *)) {
    font-size: 1.5em;
    line-height: 1.3333333;
    margin-bottom: 0.6666667em;
    margin-top: 1.6em;
  }

  .lg\:prose-xl :where(h4):not(:where([class~="not-prose"] *)) {
    line-height: 1.6;
    margin-bottom: 0.6em;
    margin-top: 1.8em;
  }

  .lg\:prose-xl :where(img):not(:where([class~="not-prose"] *)) {
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .lg\:prose-xl :where(video):not(:where([class~="not-prose"] *)) {
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .lg\:prose-xl :where(figure):not(:where([class~="not-prose"] *)) {
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .lg\:prose-xl :where(figure > *):not(:where([class~="not-prose"] *)) {
    margin-bottom: 0;
    margin-top: 0;
  }

  .lg\:prose-xl :where(figcaption):not(:where([class~="not-prose"] *)) {
    font-size: 0.9em;
    line-height: 1.5555556;
    margin-top: 1em;
  }

  .lg\:prose-xl :where(code):not(:where([class~="not-prose"] *)) {
    font-size: 0.9em;
  }

  .lg\:prose-xl :where(h2 code):not(:where([class~="not-prose"] *)) {
    font-size: 0.8611111em;
  }

  .lg\:prose-xl :where(h3 code):not(:where([class~="not-prose"] *)) {
    font-size: 0.9em;
  }

  .lg\:prose-xl :where(pre):not(:where([class~="not-prose"] *)) {
    border-radius: 0.5rem;
    font-size: 0.9em;
    line-height: 1.7777778;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1.1111111em 1.3333333em;
  }

  .lg\:prose-xl :where(ol):not(:where([class~="not-prose"] *)) {
    margin-bottom: 1.2em;
    margin-top: 1.2em;
    padding-left: 1.6em;
  }

  .lg\:prose-xl :where(ul):not(:where([class~="not-prose"] *)) {
    margin-bottom: 1.2em;
    margin-top: 1.2em;
    padding-left: 1.6em;
  }

  .lg\:prose-xl :where(li):not(:where([class~="not-prose"] *)) {
    margin-bottom: 0.6em;
    margin-top: 0.6em;
  }

  .lg\:prose-xl :where(ol > li):not(:where([class~="not-prose"] *)) {
    padding-left: 0.4em;
  }

  .lg\:prose-xl :where(ul > li):not(:where([class~="not-prose"] *)) {
    padding-left: 0.4em;
  }

  .lg\:prose-xl
    :where(.lg\:prose-xl > ul > li p):not(:where([class~="not-prose"] *)) {
    margin-bottom: 0.8em;
    margin-top: 0.8em;
  }

  .lg\:prose-xl
    :where(.lg\:prose-xl > ul > li > :first-child):not(
      :where([class~="not-prose"] *)
    ) {
    margin-top: 1.2em;
  }

  .lg\:prose-xl
    :where(.lg\:prose-xl > ul > li > :last-child):not(
      :where([class~="not-prose"] *)
    ) {
    margin-bottom: 1.2em;
  }

  .lg\:prose-xl
    :where(.lg\:prose-xl > ol > li > :first-child):not(
      :where([class~="not-prose"] *)
    ) {
    margin-top: 1.2em;
  }

  .lg\:prose-xl
    :where(.lg\:prose-xl > ol > li > :last-child):not(
      :where([class~="not-prose"] *)
    ) {
    margin-bottom: 1.2em;
  }

  .lg\:prose-xl
    :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"] *)) {
    margin-bottom: 0.8em;
    margin-top: 0.8em;
  }

  .lg\:prose-xl :where(hr):not(:where([class~="not-prose"] *)) {
    margin-bottom: 2.8em;
    margin-top: 2.8em;
  }

  .lg\:prose-xl :where(hr + *):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }

  .lg\:prose-xl :where(h2 + *):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }

  .lg\:prose-xl :where(h3 + *):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }

  .lg\:prose-xl :where(h4 + *):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }

  .lg\:prose-xl :where(table):not(:where([class~="not-prose"] *)) {
    font-size: 0.9em;
    line-height: 1.5555556;
  }

  .lg\:prose-xl :where(thead th):not(:where([class~="not-prose"] *)) {
    padding-bottom: 0.8888889em;
    padding-left: 0.6666667em;
    padding-right: 0.6666667em;
  }

  .lg\:prose-xl
    :where(thead th:first-child):not(:where([class~="not-prose"] *)) {
    padding-left: 0;
  }

  .lg\:prose-xl
    :where(thead th:last-child):not(:where([class~="not-prose"] *)) {
    padding-right: 0;
  }

  .lg\:prose-xl :where(tbody td, tfoot td):not(:where([class~="not-prose"] *)) {
    padding: 0.8888889em 0.6666667em;
  }

  .lg\:prose-xl
    :where(tbody td:first-child, tfoot td:first-child):not(
      :where([class~="not-prose"] *)
    ) {
    padding-left: 0;
  }

  .lg\:prose-xl
    :where(tbody td:last-child, tfoot td:last-child):not(
      :where([class~="not-prose"] *)
    ) {
    padding-right: 0;
  }

  .lg\:prose-xl
    :where(.lg\:prose-xl > :first-child):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }

  .lg\:prose-xl
    :where(.lg\:prose-xl > :last-child):not(:where([class~="not-prose"] *)) {
    margin-bottom: 0;
  }
}

/** Don't show the language identifiers */
pre.shiki .language-id {
  display: none;
}

:is(.dark .dark\:prose-dark) {
  color: #94a3b8;
}

:is(.dark .dark\:prose-dark)
  :where([class~="lead"]):not(:where([class~="not-prose"] *)) {
  color: #cbd5e1;
}

:is(.dark .dark\:prose-dark) :where(h2):not(:where([class~="not-prose"] *)) {
  color: #f1f5f9;
}

:is(.dark .dark\:prose-dark) :where(h3):not(:where([class~="not-prose"] *)) {
  color: #f1f5f9;
}

:is(.dark .dark\:prose-dark) :where(h4):not(:where([class~="not-prose"] *)) {
  color: #f1f5f9;
}

:is(.dark .dark\:prose-dark) :where(hr):not(:where([class~="not-prose"] *)) {
  border-color: #1e293b;
}

:is(.dark .dark\:prose-dark) :where(li):not(:where([class~="not-prose"] *)) {
  color: #94a3b8;
}

:is(.dark .dark\:prose-dark)
  :where(strong):not(:where([class~="not-prose"] *)) {
  color: #cbd5e1;
}

:is(.dark .dark\:prose-dark) :where(em):not(:where([class~="not-prose"] *)) {
  color: #94a3b8;
}

:is(.dark .dark\:prose-dark)
  :where(blockquote):not(:where([class~="not-prose"] *)) {
  background: #1e293b;
  color: #e2e8f0;
}

@media (min-width: 1025px) {
  .lg\:prose-xl {
    font-size: 1.25rem;
    line-height: 1.8;
  }

  .lg\:prose-xl :where(p):not(:where([class~="not-prose"] *)) {
    margin-bottom: 1.2em;
    margin-top: 1.2em;
  }

  .lg\:prose-xl :where([class~="lead"]):not(:where([class~="not-prose"] *)) {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .lg\:prose-xl :where(blockquote):not(:where([class~="not-prose"] *)) {
    margin-bottom: 1.6em;
    margin-top: 1.6em;
    padding-left: 1.0666667em;
  }

  .lg\:prose-xl :where(h1):not(:where([class~="not-prose"] *)) {
    font-size: 2.8em;
    line-height: 1;
    margin-bottom: 0.8571429em;
    margin-top: 0;
  }

  .lg\:prose-xl :where(h2):not(:where([class~="not-prose"] *)) {
    font-size: 1.8em;
    line-height: 1.1111111;
    margin-bottom: 0.8888889em;
    margin-top: 1.5555556em;
  }

  .lg\:prose-xl :where(h3):not(:where([class~="not-prose"] *)) {
    font-size: 1.5em;
    line-height: 1.3333333;
    margin-bottom: 0.6666667em;
    margin-top: 1.6em;
  }

  .lg\:prose-xl :where(h4):not(:where([class~="not-prose"] *)) {
    line-height: 1.6;
    margin-bottom: 0.6em;
    margin-top: 1.8em;
  }

  .lg\:prose-xl :where(img):not(:where([class~="not-prose"] *)) {
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .lg\:prose-xl :where(video):not(:where([class~="not-prose"] *)) {
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .lg\:prose-xl :where(figure):not(:where([class~="not-prose"] *)) {
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .lg\:prose-xl :where(figure > *):not(:where([class~="not-prose"] *)) {
    margin-bottom: 0;
    margin-top: 0;
  }

  .lg\:prose-xl :where(figcaption):not(:where([class~="not-prose"] *)) {
    font-size: 0.9em;
    line-height: 1.5555556;
    margin-top: 1em;
  }

  .lg\:prose-xl :where(code):not(:where([class~="not-prose"] *)) {
    font-size: 0.9em;
  }

  .lg\:prose-xl :where(h2 code):not(:where([class~="not-prose"] *)) {
    font-size: 0.8611111em;
  }

  .lg\:prose-xl :where(h3 code):not(:where([class~="not-prose"] *)) {
    font-size: 0.9em;
  }

  .lg\:prose-xl :where(pre):not(:where([class~="not-prose"] *)) {
    border-radius: 0.5rem;
    font-size: 0.9em;
    line-height: 1.7777778;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1.1111111em 1.3333333em;
  }

  .lg\:prose-xl :where(ol):not(:where([class~="not-prose"] *)) {
    margin-bottom: 1.2em;
    margin-top: 1.2em;
    padding-left: 1.6em;
  }

  .lg\:prose-xl :where(ul):not(:where([class~="not-prose"] *)) {
    margin-bottom: 1.2em;
    margin-top: 1.2em;
    padding-left: 1.6em;
  }

  .lg\:prose-xl :where(li):not(:where([class~="not-prose"] *)) {
    margin-bottom: 0.6em;
    margin-top: 0.6em;
  }

  .lg\:prose-xl :where(ol > li):not(:where([class~="not-prose"] *)) {
    padding-left: 0.4em;
  }

  .lg\:prose-xl :where(ul > li):not(:where([class~="not-prose"] *)) {
    padding-left: 0.4em;
  }

  .lg\:prose-xl
    :where(.lg\:prose-xl > ul > li p):not(:where([class~="not-prose"] *)) {
    margin-bottom: 0.8em;
    margin-top: 0.8em;
  }

  .lg\:prose-xl
    :where(.lg\:prose-xl > ul > li > :first-child):not(
      :where([class~="not-prose"] *)
    ) {
    margin-top: 1.2em;
  }

  .lg\:prose-xl
    :where(.lg\:prose-xl > ul > li > :last-child):not(
      :where([class~="not-prose"] *)
    ) {
    margin-bottom: 1.2em;
  }

  .lg\:prose-xl
    :where(.lg\:prose-xl > ol > li > :first-child):not(
      :where([class~="not-prose"] *)
    ) {
    margin-top: 1.2em;
  }

  .lg\:prose-xl
    :where(.lg\:prose-xl > ol > li > :last-child):not(
      :where([class~="not-prose"] *)
    ) {
    margin-bottom: 1.2em;
  }

  .lg\:prose-xl
    :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"] *)) {
    margin-bottom: 0.8em;
    margin-top: 0.8em;
  }

  .lg\:prose-xl :where(hr):not(:where([class~="not-prose"] *)) {
    margin-bottom: 2.8em;
    margin-top: 2.8em;
  }

  .lg\:prose-xl :where(hr + *):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }

  .lg\:prose-xl :where(h2 + *):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }

  .lg\:prose-xl :where(h3 + *):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }

  .lg\:prose-xl :where(h4 + *):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }

  .lg\:prose-xl :where(table):not(:where([class~="not-prose"] *)) {
    font-size: 0.9em;
    line-height: 1.5555556;
  }

  .lg\:prose-xl :where(thead th):not(:where([class~="not-prose"] *)) {
    padding-bottom: 0.8888889em;
    padding-left: 0.6666667em;
    padding-right: 0.6666667em;
  }

  .lg\:prose-xl
    :where(thead th:first-child):not(:where([class~="not-prose"] *)) {
    padding-left: 0;
  }

  .lg\:prose-xl
    :where(thead th:last-child):not(:where([class~="not-prose"] *)) {
    padding-right: 0;
  }

  .lg\:prose-xl :where(tbody td, tfoot td):not(:where([class~="not-prose"] *)) {
    padding: 0.8888889em 0.6666667em;
  }

  .lg\:prose-xl
    :where(tbody td:first-child, tfoot td:first-child):not(
      :where([class~="not-prose"] *)
    ) {
    padding-left: 0;
  }

  .lg\:prose-xl
    :where(tbody td:last-child, tfoot td:last-child):not(
      :where([class~="not-prose"] *)
    ) {
    padding-right: 0;
  }

  .lg\:prose-xl
    :where(.lg\:prose-xl > :first-child):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
  }

  .lg\:prose-xl
    :where(.lg\:prose-xl > :last-child):not(:where([class~="not-prose"] *)) {
    margin-bottom: 0;
  }
}
